{% comment %}<!-- @formatter:off -->{% endcomment %}

{%- assign paths = include.paths | default: "relative" -%}{% comment %}<!-- relative | absolute -->{% endcomment %}
{%- if include.page -%}
    {%- assign this = include.page -%}
    {%- assign this_content = this.content -%}
{%- else -%}
    {%- assign this = page -%}
    {%- assign this_content = content -%}
{%- endif -%}

{%- assign content_blank = this_content | replace_post | strip_newlines -%}
{%- if content_blank != "" -%}
    {%- if page.render_this == "before" or page.render_this == true or page.sections == nil -%}
        <div class="content">
            {{ this_content | pre_markdown | markdownify | replace_post }}
        </div>
    {%- endif -%}
{%- endif -%}

{%- if page.sections != nil -%}
    {%- for section in page.sections -%}
        {%- assign layout = 'sections/' | append: section.layout | append: '.html' -%}

        {%- if section.layout == 'subpages' -%}

            {% include {{ layout }}
                parent=section.parent
                data=section.data
                index=forloop.index
                index0=forloop.index0
            %}

        {%- elsif section.layout == 'board-block' -%}
            {%- if section.file != nil -%}
                {%- assign text_file = '_' | append: section.file | append: '.section.md' -%}
                {%- if paths != "absolute" -%}
                    {%- capture section_inclusion -%}{% include_relative {{text_file}} %}{%- endcapture -%}
                {%- else -%}
                    {%- capture section_inclusion -%}{% include_file {{ page.dir }}{{text_file}} %}{%- endcapture -%}
                {%- endif -%}
                {%- assign sec_content = section_inclusion | pre_markdown | markdownify | replace_post -%}
                {%- assign name = section.file -%}
            {%- else -%}
                {%- assign section_inclusion = nil -%}
                {%- assign sec_content = nil -%}
                {%- assign name = nil -%}
            {%- endif -%}
            {%- if section.code_file != nil -%}
                {%- if paths != "absolute" -%}
                    {%- capture js -%}{% include_relative {{ section.data.code_file }} %}{%- endcapture -%}
                {%- else -%}
                    {%- capture js -%}{% include_file {{ page.dir }}{{ section.data.code_file }} %}{%- endcapture -%}
                {%- endif -%}
            {%- elsif section.file != nil -%}
                {%- assign js_file = '_' | append: section.file | append: '.section.js' -%}
                {%- if paths != "absolute" -%}
                    {%- capture js -%}{% include_relative {{js_file}} %}{%- endcapture -%}
                {%- else -%}
                    {%- capture js -%}{% include_file {{ page.dir }}{{js_file}} %}{%- endcapture -%}
                {%- endif -%}
            {%- else -%}
                {%- assign js = nil -%}
            {%- endif -%}

            {% include {{ layout }}
                file=name
                content=sec_content
                content_raw=section_inclusion
                js=js
                data=section.data
                index=forloop.index
                index0=forloop.index0
            %}

        {%- elsif section.layout == 'board' -%}
            {%- if section.code_file != nil -%}
                {%- if paths != "absolute" -%}
                    {%- capture js -%}{% include_relative {{ section.data.code_file }} %}{%- endcapture -%}
                {%- else -%}
                    {%- capture js -%}{% include_file {{ page.dir }}{{ section.data.code_file }} %}{%- endcapture -%}
                {%- endif -%}
                {%- assign name = section.code_file -%}
            {%- else if section.file != nil -%}
                {%- assign js_file = '_' | append: section.file | append: '.section.js' -%}
                {%- if paths != "absolute" -%}
                    {%- capture js -%}{% include_relative {{js_file}} %}{%- endcapture -%}
                {%- else -%}
                    {%- capture js -%}{% include_file {{ page.dir }}{{js_file}} %}{%- endcapture -%}
                {%- endif -%}
                {%- assign name = section.file -%}
            {%- else -%}
                {%- assign js = nil -%}
                {%- assign name = nil -%}
            {%- endif -%}

            {% include {{ layout }}
                file=name js=js
                data=section.data
                index=forloop.index
                index0=forloop.index0
            %}

        {%- elsif section.layout == 'image' -%}

            {% include {{ layout }}
                data=section.data
                index=forloop.index
                index0=forloop.index0
            %}

        {%- elsif section.layout == 'file' -%}

            <div>
                {%- if paths != "absolute" -%}
                {% include_relative {{ section.file }} %}
                {%- else -%}
                {% include_file {{ page.dir }}{{ section.file }} %}
                {%- endif -%}
            </div>

        {%- else -%}

            {%- if section.file != nil -%}
                {%- assign file = '_' | append: section.file | append: '.section.md' -%}
                {%- if paths != "absolute" -%}
                    {%- capture section_inclusion -%}{% include_relative {{file}} %}{%- endcapture -%}
                {%- else -%}
                    {%- capture section_inclusion -%}{% include_file {{ page.dir }}{{file}} %}{%- endcapture -%}
                {%- endif -%}
                {%- assign sec_content = section_inclusion | pre_markdown | markdownify | replace_post -%}
            {%- else -%}
                {%- assign section_inclusion = nil -%}
                {%- assign sec_content = nil -%}
            {%- endif -%}

                {% include {{ layout }}
                    file=section.file
                    content=sec_content
                    content_raw=section_inclusion
                    data=section.data
                    index=forloop.index
                    index0=forloop.index0
                %}

        {%- endif -%}

    {%- endfor -%}
{%- endif -%}

{%- if page.render_this == "after" and page.sections != nil and content_blank -%}
    <div class="content">
        {{ this_content | markdownify | replace_post }}
    </div>
{%- endif -%}