<div class="section-accordion">
    <!--@formatter:off-->
        {%- assign delimiter_header = include.data.delimiter_header | default: "# " -%}
        {%- assign delimiter_header_size = delimiter_header | size -%}
        {%- assign delimiter_badge = include.data.delimiter_badge | default: "> " -%}
        {%- assign delimiter_badge_size = delimiter_badge | size -%}
        {%- assign delimiter_id = include.data.delimiter_id | default: "> " -%}
        {%- assign delimiter_id_size = delimiter_id | size -%}
        {%- assign lines = include.content_raw | newline_to_br | split: "<br />" -%}
        {%- assign heads = "" | split: ',' -%}
        {%- assign badges = "" | split: ',' -%}
        {%- assign ids = "" | split: ',' -%}
        {%- assign contents = "" | split: ',' -%}
        {%- assign max_n = include.data.n | default: -1 -%}
        {%- assign open = include.data.open | default: -1 -%}
        {%- assign badge_is_date = include.data.badge_is_date | default: false -%}

        {%- assign head = nil -%}
        {%- assign badge = nil -%}
        {%- assign id = nil -%}
        {%- assign cont = nil -%}
        {%- for line in lines -%}
        {%- assign start = line | strip | slice: 0, delimiter_header_size -%}
        {%- if start == delimiter_header -%}

        {%- assign heads = heads | push: head -%}
        {%- assign proof = badge | strip_newlines | strip -%}
        {%- if proof != '' and proof != nil and proof != '-' -%}
        {%- assign badges = badges | push: badge -%}
        {%- else -%}
        {%- assign badges = badges | push: nil -%}
        {%- endif -%}
        {%- assign proof = id | strip_newlines | strip -%}
        {%- if proof != '' and proof != nil and proof != '-' -%}
        {%- assign ids = ids | push: id -%}
        {%- else -%}
        {%- assign ids = ids | push: nil -%}
        {%- endif -%}
        {%- assign contents = contents | push: cont -%}
        {%- assign badge = nil -%}
        {%- assign id = nil -%}
        {%- assign cont = nil -%}
        {%- assign head = line | replace_first: delimiter_header, "" -%}

        {%- else -%}

        {%- assign start = line | strip | slice: 0, delimiter_badge_size -%}
        {%- if start == delimiter_badge and badge==nil -%}

        {%- assign badge = line | replace_first: delimiter_badge, "" -%}

        {%- else -%}

        {%- assign start = line | strip | slice: 0, delimiter_id_size -%}
        {%- if start == delimiter_id and id==nil -%}

        {%- assign id = line | replace_first: delimiter_id, "" | strip_newlines | strip -%}

        {%- else -%}

        {%- assign cont = cont | append: <br /> | br_to_newline | append: line -%}

        {%- endif -%}
        {%- endif -%}
        {%- endif -%}
        {%- endfor -%}
        {%- assign heads = heads | push: head | shift -%}
        {%- assign proof = badge | strip_newlines | strip -%}
        {%- if proof != '' and proof != nil and proof != '-' -%}
        {%- assign badges = badges | push: badge | shift -%}
        {%- else -%}
        {%- assign badges = badges | push: nil | shift -%}
        {%- endif -%}
        {%- assign proof = id | strip_newlines | strip -%}
        {%- if proof != '' and proof != nil and proof != '-' -%}
        {%- assign ids = ids | push: id | shift -%}
        {%- else -%}
        {%- assign ids = ids | push: nil | shift -%}
        {%- endif -%}
        {%- assign contents = contents | push: cont | shift -%}
        <!--@formatter:on-->

    <div class="accordion accordion-flush" id="accordion-{{ include.index0 }}">

        {%- for head in heads -%}
        {%- assign badge = badges[forloop.index0] -%}
        {%- assign id = ids[forloop.index0] -%}
        {%- assign body = contents[forloop.index0] -%}
        {%- if max_n > 0 and max_n <= forloop.index0 -%}
        {%- break -%}
        {%- endif -%}
        <div class="accordion-item border-0" id="{{ id | default: head | to_id }}">
            <div class="accordion-header">
                <button class="accordion-button {% if forloop.index0==open %}{% else %}collapsed{% endif %} no-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{{ include.index0 }}-{{ forloop.index0 }}"
                        aria-expanded="{% if forloop.index0==open %}true{% else %}false{% endif %}"
                        aria-controls="accordion-{{ include.index0 }}-{{ forloop.index0 }}">
                    <div class="d-flex justify-content-between align-items-center {% if include.data.arrows=='left' %}flex-row-reverse{% endif %} w-100">
                        <div class="d-flex align-items-center w-100 {% if include.data.arrows=='left' %}ps-3 ps-md-4{% else %}pe-3 pe-md-4 pe-xl-5{% endif %}">
                            {%- if head != nil -%}
                            <h2 class="mb-0">
                                {{ head | pre_markdown | markdownify | replace_post }}
                            </h2>
                            {%- endif -%}
                            {%- if badge != nil -%}
                            <div class="ms-auto">
                                <div class="badge rounded-pill bg-primary {% if badge_is_date != false %}w-fix-xs{% endif %}">
                                    {%- if badge_is_date != false -%}
                                    {{ badge | date: badge_is_date }}
                                    {%- else -%}
                                    {{ badge | pre_markdown | markdownify | replace_post }}
                                    {%- endif -%}
                                </div>
                            </div>
                            {%- endif -%}
                        </div>
                        <div class="collapse-closed"><i class="fa-solid fa-angle-down"></i></div>
                        <div class="collapse-opened"><i class="fa-solid fa-angle-up"></i></div>
                    </div>
                </button>
            </div>
            <div id="accordion-{{ include.index0 }}-{{ forloop.index0 }}" class="accordion-collapse collapse {% if forloop.index0==open %}show{% else %}{% endif %}" data-bs-parent="#accordion-{{ include.index0 }}">
                <div class="px-2 pb-5 pt-3 mb-5">
                    {%- if body != nil -%}
                    {{ body | pre_markdown | markdownify | replace_post }}
                    {%- endif -%}
                </div>
            </div>
        </div>
        {%- endfor -%}
    </div>

    {%- if open_hash != false -%}
    <script type="module">
        if (JXG.exists($('#accordion-{{ include.index0 }} #' + location.hash.substring(1) + ' .collapse:not(.show)')[0])) {
            bootstrap.Collapse.getOrCreateInstance(
                $('#accordion-{{ include.index0 }} #' + location.hash.substring(1) + ' .collapse:not(.show)')[0],
            ).show();
        }

        window.setTimeout(function () {
            $('#accordion-{{ include.index0 }} #' + location.hash.substring(1)).scrollIntoView();
        }, 500);
    </script>
    {%- endif -%}
</div>