<div class="section-board">
    <div class="d-flex">
        <div style="width: {{ include.data.width | default: '500px' }}; height: {{ include.data.height | default: 'auto' }}; aspect-ratio: {{ include.data.aspect_ratio | default: '1/1' }}; max-width: {{ include.data.max_width | default: '100%' }};" class="jxgbox {{ include.data.class }}" id="{{ include.data.boardid }}"></div>
    </div>

    <script type="text/javascript">
        (function () {
            /*@formatter:off*/
            {{ include.js }}
            /*@formatter:on*/
        })();
    </script>

    {% if include.data.title %}
    <div class="mt-3 text-muted smaller text-center">
        {% if include.data.link %}

        {%- assign stringToCheck = include.data.link %}
        {%- assign checkArray = stringToCheck | split: ':' -%}
        {%- if checkArray[0] == 'http' or checkArray[0] == 'https' or include.data.target == "_blank" -%}
        {%- assign link = include.data.link -%}
        {%- assign target = include.data.target | default: "_blank" -%}
        {%- else -%}
        {%- assign link = relBase | append: include.data.link -%}
        {%- assign target = include.data.target | default: "_self" -%}
        {%- endif -%}
        <a href="{{ link }}" target="{{ target }}">
            {{ include.data.title }}
            {%- if target == "_blank" -%}
            <i class="fa-solid fa-arrow-up-right-from-square icon-external-link"></i>
            {%- endif -%}
        </a>

        {% else %}
        {{ include.data.title }}
        {% endif %}
    </div>
    {% endif %}
</div>