<div class="row g-4 {% if include.data.board_pos=='second' or include.data.board_pos=='last' or include.data.board-pos=='right' or include.data.board-pos=='end' %}flex-row-reverse{% else %}flex-row{% endif %} justify-content-center section-board-block"
     id="section-{{ include.file }}">
    <div class="col-12 col-xs-10 col-sm-8 col-md-6 col-lg-5 col-xxl-4">

        {%
        include part/board.html

        js=include.js
        boardid=include.data.boardid
        title=include.data.title
        title_pos=include.data.title_pos
        link=include.data.link
        target=include.data.target
        class=include.data.class
        class_title=include.data.class_title
        width=include.data.width
        height=include.data.height
        aspect_ratio=include.data.aspect_ratio
        max_width=include.data.max_width
        %}

    </div>
    <div class="col-12 col-md-6 col-lg-7 col-xxl-8">
        <div class="d-flex h-100">
            <div class="my-auto">
                {{ include.content }}
                <div class="mt-3">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>