<div class="section-subpages">
    {%- assign polygon = include.polygon | default: const.default_polygon -%}
    <!-- circle | 4 | 5 | 6 | 8 | jsxgraph -->

    {%- if polygon == "jsxgraph" -%}
    {%- assign class = "rounded-0 rounded-top-left rounded-bottom-right" -%}
    {%- assign padding_x = "5%" -%}
    {%- assign padding_y = "5%" -%}
    {%- elsif polygon == "circle" -%}
    {%- assign class = "circle-clip" -%}
    {%- assign padding_x = "10%" -%}
    {%- assign padding_y = "10%" -%}
    {%- elsif polygon == "4" -%}
    {%- assign class = "square-clip" -%}
    {%- assign padding_x = "5%" -%}
    {%- assign padding_y = "5%" -%}
    {%- elsif polygon == "5" -%}
    {%- assign class = "pentagon-clip" -%}
    {%- assign padding_x = "10%" -%}
    {%- assign padding_y = "7%" -%}
    {%- elsif polygon == "8" -%}
    {%- assign class = "octagon-clip" -%}
    {%- assign padding_x = "5%" -%}
    {%- assign padding_y = "5%" -%}
    {%- else -%}
    {%- assign class = "hexagon-clip" -%}
    {%- assign padding_x = "15%" -%}
    {%- assign padding_y = "10%" -%}
    {%- endif -%}

    {%- assign id = page.url | split: '/' | last -%}
    {%- if id == "index.html" -%}
    {%- assign id = page.url | split: '/' -%}
    {%- assign tmp = id.size | minus: 2 -%}
    {%- assign id = id[tmp] -%}
    {%- endif -%}
    {%- assign parent = include.parent | default: id -%}

    <div class="row g-3 w-100">

        {%- assign color = 'primary' -%}
        {%- assign first = true -%}
        {%- assign pagelist = site.pages | where: "parent",parent | sort: 'order' -%}
        {%- for i_page in pagelist -%}

        {%- if i_page.pagination_info and i_page.pagination_info.curr_page > 1 -%}
        {%- continue -%}
        {%- endif -%}

        {%- if i_page.external_link -%}
        {%- assign link = i_page.external_link -%}
        {%- assign target = i_page.target | default: "_blank" -%}
        {%- else -%}
        {%- assign link = relBase | append: i_page.url -%}
        {%- assign target = i_page.target | default: "_self" -%}
        {%- endif -%}

        <div class="col-12 col-xs-6 col-md-3 col-xl-2">
            <a href="{{ link }}" target="{{ target }}" class="btn btn-{{ color }} square rounded-0 {{ class }} overflow-hidden" style="padding: {{ padding_y }} {{ padding_x }};">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div>
                        {{ i_page.title_short | default: i_page.title }}
                    </div>
                </div>
            </a>
        </div>
        {%- endfor -%}
    </div>
</div>