<div class="jsxgraph-board">
    {% assign title_pos = include.title_pos | default: "after" %}
    {%- if include.jsfile != nil -%}
    {%- assign jsfile = '_' | append: include.jsfile | append: '.js' -%}
    {%- capture js -%}{% include_relative {{jsfile}} %}{%- endcapture -%}
    {%- else -%}
    {%- assign js = include.js -%}
    {%- endif -%}

    {% if include.title and title_pos=="before" %}
    <div class="mb-3 {{ include.class_title | default: 'h5' }}">
        {% if include.link %}

        {%- assign stringToCheck = include.link %}
        {%- assign checkArray = stringToCheck | split: ':' -%}
        {%- if checkArray[0] == 'http' or checkArray[0] == 'https' or include.target == "_blank" -%}
        {%- assign link = include.link -%}
        {%- assign target = include.target | default: "_blank" -%}
        {%- else -%}
        {%- assign link = relBase | append: include.link -%}
        {%- assign target = include.target | default: "_self" -%}
        {%- endif -%}
        <a href="{{ link }}" target="{{ target }}">
            {{ include.title }}
            {%- if target == "_blank" -%}
            <i class="fa-solid fa-arrow-up-right-from-square icon-external-link"></i>
            {%- endif -%}
        </a>

        {% else %}
        {{ include.title }}
        {% endif %}
    </div>
    {% endif %}

    <div class="d-flex">
        <div style="width: {{ include.width | default: '500px' }}; height: {{ include.height | default: 'auto' }}; aspect-ratio: {{ include.aspect_ratio | default: '1/1' }}; max-width: {{ include.max_width | default: '100%' }};"
             class="jxgbox {{ include.class }}" id="{{ include.boardid }}"></div>
    </div>

    {% if include.title and title_pos=="after" %}
    <div class="d-flex">
        <div class="mt-3 {{ include.class_title | default: 'text-muted text-center' }}" style="width: {{ include.width | default: '500px' }}; max-width: {{ include.max_width | default: '100%' }};">
            {% if include.link %}

            {%- assign stringToCheck = include.link %}
            {%- assign checkArray = stringToCheck | split: ':' -%}
            {%- if checkArray[0] == 'http' or checkArray[0] == 'https' or include.target == "_blank" -%}
            {%- assign link = include.link -%}
            {%- assign target = include.target | default: "_blank" -%}
            {%- else -%}
            {%- assign link = relBase | append: include.link -%}
            {%- assign target = include.target | default: "_self" -%}
            {%- endif -%}
            <a href="{{ link }}" target="{{ target }}">
                {{ include.title }}
                {%- if target == "_blank" -%}
                <i class="fa-solid fa-arrow-up-right-from-square icon-external-link"></i>
                {%- endif -%}
            </a>

            {% else %}
            {{ include.title }}
            {% endif %}
        </div>
    </div>
    {% endif %}

    <script type="module">
        (function () {
            /*@formatter:off*/
            {{ js }}
            /*@formatter:on*/
        })();
    </script>
</div>