{% assign type = include.type | default: const.default_polygon %}
<!-- circle | 4 | 5 | 6 | 8 -->

{% assign col1 = include.color1 | default: "primary" %}
{% assign col2 = include.color2 | default: "secondary" %}

{%- if type == "circle" -%}
{%- assign class = "circle-clip" -%}
{%- assign padding_x = "5%" -%}
{%- assign padding_y = "5%" -%}
{%- elsif type == "4" -%}
{%- assign class = "square-clip" -%}
{%- assign padding_x = "5%" -%}
{%- assign padding_y = "5%" -%}
{%- elsif type == "5" -%}
{%- assign class = "pentagon-clip" -%}
{%- assign padding_x = "10%" -%}
{%- assign padding_y = "7%" -%}
{%- elsif type == "8" -%}
{%- assign class = "octagon-clip" -%}
{%- assign padding_x = "5%" -%}
{%- assign padding_y = "5%" -%}
{%- else -%}
{%- assign class = "hexagon-clip" -%}
{%- assign padding_x = "15%" -%}
{%- assign padding_y = "10%" -%}
{%- endif -%}

{% if class != nil %}
{% assign class = class | append: " " | append: include.class %}
{% endif %}

<div class="square position-relative d-flex justify-content-center align-items-center">
    {% if include.background != nil %}
    <div class="w-100 position-absolute top-0 start-0 end-0 bottom-0">
        <div class="bg-{{ include.background }} w-100 h-100 {{ class }}"></div>
    </div>
    {% endif %}
    {% if include.image != nil %}
    <div class="{{ class }} image-bg-cover" style="background-image: url('{{ relBase }}{{ include.image }}');"></div>
    {% endif %}
    {% if include.overlay != nil %}
    <div class="w-100 position-absolute top-0 start-0 end-0 bottom-0 bg-{{ include.overlay }} {{ class }}" style="opacity: {{ include.overlay_opacity | default: 50 }}%"></div>
    {% endif %}
    {% if include.text != nil %}
    <div class="w-100 position-absolute top-0 start-0 end-0 bottom-0 d-flex align-items-center justify-content-center">
        <div class="{{ class }} overflow-hidden" style="padding: {{ padding_y }} {{ padding_x }};">
            <div>{{ include.text }}</div>
        </div>
    </div>
    {% endif %}

    {% if type == "circle" %}
    <svg class="w-100 position-absolute top-0 start-0 end-0 bottom-0" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle
                cx="50"
                cy="50"
                r="48"
                fill="none"
                stroke-width="0.99"
                class="svg-{{ col1 }}"
        />
        <circle
                cx="50"
                cy="50"
                r="40"
                fill="none"
                stroke-width="0.99"
                class="svg-{{ col2 }}"
        />
    </svg>
    {% elsif type == "4" %}
    <svg class="w-100 position-absolute top-0 start-0 end-0 bottom-0" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path
                d="M 0,0 L 100,0 L 100,100 L 0,100 Z"
                fill="none"
                stroke-width="0.99"
                class="svg-{{ col1 }}"
        />
        <path
                d="M 10,10 L 90,10 L 90,90 L 10,90 Z"
                fill="none"
                stroke-width="0.99"
                class="svg-{{ col2 }}"
        />
    </svg>
    {% elsif type == "5" %}
    <!--<svg class="w-100 position-absolute top-0 start-0 end-0 bottom-0" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <path d="M 50,3 L 98,37 L 80,97 L 20,97 L 2,37 Z"
               fill="none"
               stroke="#000"
               stroke-width="0.986117"
         />
    </svg>-->
    <svg class="w-100 position-absolute top-0 start-0 end-0 bottom-0" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path
                d="M 52.334164,2.5902794 97.390405,39.483112 75.470279,97.495357 16.214975,93.351822 2.5819181,32.853457 Z"
                fill="none"
                stroke-width="0.99"
                class="svg-{{ col1 }}"
        />
        <path
                d="M 47.665836,2.5902793 97.418082,32.853457 83.785022,93.351822 24.529721,97.495357 2.6095948,39.483112 Z"
                fill="none"
                stroke-width="0.99"
                class="svg-{{ col2 }}"
        />
    </svg>
    {% elsif type == "8" %}
    <!--<svg class="w-100 position-absolute top-0 start-0 end-0 bottom-0" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path d="M 32,3 L 68,3 L 97,32 L 97,68 L 68,97 L 32,97 L 3,68 L 3,32 Z"
               fill="none"
               stroke="#000"
               stroke-width="0.986117"
         />
    </svg>-->
    <svg class="w-100 position-absolute top-0 start-0 end-0 bottom-0" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path
                d="M 37.983412,1.645116 73.35776,5.98854 98.35488,37.983408 94.01146,73.357753 62.016596,98.354884 26.642251,94.011461 1.64512,62.016592 5.988543,26.642247 Z"
                fill="none"
                stroke-width="0.99"
                class="svg-{{ col1 }}"
        />
        <path
                d="M 26.642247,5.9885394 62.016592,1.645116 94.011461,26.642247 98.354884,62.016592 73.357753,94.011461 37.983408,98.354884 5.9885394,73.357753 1.645116,37.983408 Z"
                fill="none"
                stroke-width="0.99"
                class="svg-{{ col2 }}"
        />
    </svg>
    {% else %}
    <!--<svg class="w-100 position-absolute top-0 start-0 end-0 bottom-0" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
         <path d="M 100,50 L 75,93 L 25,93 L 0,50 L 25,7 L 75,7 Z"
               fill="none"
               stroke="#000"
               stroke-width="0.986117"
         />
     </svg>-->
    <svg class="w-100 position-absolute top-0 start-0 end-0 bottom-0" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path
                d="M 98.639724,55.972207 69.183764,94.816266 20.54404,88.844059 1.3602759,44.027793 30.816236,5.1837338 79.45596,11.155941 Z"
                fill="none"
                stroke-width="0.99"
                class="svg-{{ col1 }}"
        />
        <path
                d="M 98.63972,44.027793 79.45596,88.844059 30.816241,94.816266 1.3602803,55.972207 20.544045,11.155941 69.183764,5.183734 Z"
                fill="none"
                stroke-width="0.99"
                class="svg-{{ col2 }}"
        />
    </svg>
    {% endif %}
</div>