{% include basics %}
{% assign layout = include.layout | default: 'input' %}
{% comment %}<!-- input | full -->{% endcomment %}

<form id="search-form" class="d-flex m-between-1" method="dialog" autocomplete="off" autocapitalize="off">
    <input type="search" id="search" class="form-control" placeholder="{{ const.search.placeholder }}" aria-label="{{ const.search.label }}" spellcheck="false" autocapitalize="off"
           autocomplete="off" required>
    <button id="search-button" class="btn btn-link {% if layout == 'full' %}link-primary{% else %}nav-link{% endif %} border-0 rounded-0 square px-2 py-0" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</form>

{% if layout != "full" %}
<script type="module">
    $('#search-form').on('submit', function () {
        const query = $('#search').val();
        if (query.length <= 0) return;
        window.open('{{ relBase }}{{ const.search.url }}#' + query, '_self');
    });
</script>
{% else %}
<script type="module" src="{{ relBase }}/assets/fuse/fuse.min.js"></script>

<div id="search-results" class="mt-5 row justify-content-center g-3 g-md-4"></div>

<script type="text/html-template" id="template_result">
    <a href="%link%" target="%target%" class="d-block mb-5">
        <div class="mb-3">
            <h2 class="m-0">
                %title%%linkpostfix%
            </h2>
            <div class="text-muted %class_subtitle%">%subtitle%</div>
        </div>
        <div class="text-dark shorten-content-4 mb-3 %class_content%">%content%</div>
    </a>
</script>

<script type="module">
    let FUSE = null,
        DATA = [];

    $.getJSON('{{ relBase }}{{ const.search.url }}data.json', function (searchData) {
        DATA = searchData;

        FUSE = new Fuse(DATA, {
            includeScore: true,
            includeMatches: true, // for debug
            shouldSort: true,

            isCaseSensitive: false,
            ignoreDiacritics: true,

            /**
             * 2 is practical so that everything doesn't crash when you enter something like “a.”
             * 3 is even more robust against unnecessary noise.
             * 4 only if you have a very large amount of data and want to avoid junk hits.
             */
            minMatchCharLength: 3,
            /**
             * 0 means: exact matches only.
             * 0.6 is the default.
             * 0.2–0.3 is often a good value for “normal” full-text searches: tolerant enough for typos, but not so vague that everything matches.
             * If you want true fuzzy search with many hits (even with significant deviations), go for 0.4–0.5.
             */
            threshold: 0.2,

            ignoreLocation: true,
            // location: 0,
            // distance: 100,

            // findAllMatches: false,
            // useExtendedSearch: false,
            // ignoreFieldNorm: false,
            // fieldNormWeight: 1,

            keys: [
                {name: 'title_site', weight: 10},
                {name: 'content_site', weight: 10},

                {name: 'title_post', weight: 5},
                {name: 'content_post', weight: 5},

                {name: 'title_categorylist', weight: 2},
                {name: 'content_categorylist', weight: 2},

                {name: 'title_taglist', weight: 1},
                {name: 'content_taglist', weight: 1},
            ],
        });

        let s = decodeURI(location.hash.substring(1));
        if (JXG.exists(s, true)) {
            $('#search').val(s);
            search();
        }
    }).fail(function (e) {
        console.error(e);
    });

    $('#search').on('input change', function () {
        search();
    });
    $('#search-form').on('submit', function () {
        search();
    });

    function search(query = undefined) {
        const RES = $('#search-results');

        query = query || $('#search').val();
        location.hash = '#' + query;
        RES.empty();

        if (query.length < FUSE.options.minMatchCharLength) return;

        let result = FUSE.search(query);

        console.log(result);
        result.forEach(function (result) {
            let item = result.item;

            item.title = item['title_' + item.type];
            item.content_plain = item['content_' + item.type];
            item.content = item.content_plain.trim();

            item.class_content = !JXG.exists(item.content, true) ? 'off' : '';

            switch (item.type) {
                case 'categorylist':
                    item.subtitle = 'News Category';
                    break;
                case 'taglist':
                    item.subtitle = 'News Tag';
                    break;
                case 'post':
                    item.subtitle = 'News Post';
                    break;
                case 'site':
                    if (JXG.exists(item.external_link, true)) {
                        item.subtitle = 'External Link';
                        break;
                    }
                default:
                    item.subtitle = '';
            }
            item.class_subtitle = !JXG.exists(item.subtitle, true) ? 'off' : '';

            if (JXG.exists(item.external_link, true)) {
                item.link = item.external_link;
                item.target = '_blank';
                item.linkpostfix = '<i class="fa-solid fa-arrow-up-right-from-square icon-external-link"></i>';
            } else {
                item.link = '{{ relBase }}' + item.url;
                item.target = '_self';
                item.linkpostfix = '';
            }

            RES.append(JXG.website.renderTemplate('template_result', item));
        });
    }
</script>
{% endif %}