<div class="container md-container">
    <div class="mb-3 text-center">
        {{ const.supporters.title }}
    </div>
    <div class="row justify-content-center align-items-center {{ const.supporters.containerclass }} g-4">
        {%- for supporter in const.supporters.list -%}
        {%- assign name = supporter.name -%}
        {%- assign logo = supporter.logo -%}
        {%- assign url = supporter.url -%}
        <div class="{{ const.supporters.itemclass }}">
            <div>
                <a href="{{ url }}" target="_blank"><img src="{{ relBase }}{{ logo }}" class="image-raw w-100" alt="{{ name }}"></a>
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>