<div class="{% if include.horizontal %}col-12 d-flex g-2{% else %}col-6 d-flex flex-column m-between-2{% endif %}">

    {% for i in (0..1) %}
    {%- assign data = include.data[i] -%}

    {%- assign stringToCheck = data.link %}
    {%- assign checkArray = stringToCheck | split: ':' -%}
    {%- if checkArray[0] == 'http' or checkArray[0] == 'https' or data.target == "_blank" -%}
    {%- assign link = data.link -%}
    {%- assign target = data.target | default: "_blank" -%}
    {%- else -%}
    {%- assign link = relBase | append: data.link -%}
    {%- assign target = data.target | default: "_self" -%}
    {%- endif -%}
    <a href="{{ link }}" target="{{ target }}"
       class="d-block p-1 w-100 h-100 btn-{{ data.colorclass | default: 'primary' }} border border-{{ data.colorclass | default: 'primary' }} overflow-hidden text-center tile-button tile-button-half-slim"
    >
        <div class="d-flex flex-column w-100 h-100">
            {%- if data.image -%}
            <div class="flex-fill mx-n1 mt-n1 position-relative">
                <div class="w-100 h-100 image-bg-cover" style="background-image: url('{{ relBase }}{{ data.image }}');"></div>
                <div class="position-absolute top-0 start-0 end-0 bottom-0 bg-{{ data.colorclass | default: 'primary' }} opacity-33"></div>
            </div>
            {%- else -%}
            <div class="flex-fill mb-n1 d-flex align-items-center justify-content-center">
                <i class="fa-fw {{ data.icon }}">{% if data.icon == '' %}&nbsp;{% endif %}</i>
            </div>
            {%- endif -%}
            <div class="small shorten-content-x tile-label">
                {{ data.title | default: "" }}
            </div>
        </div>
    </a>

    {% endfor %}

</div>