{%- assign polygon = include.polygon | default: const.default_polygon -%}
<!-- circle | 4 | 5 | 6 | 8 | jsxgraph -->

{%- if polygon == "jsxgraph" -%}
{%- assign class = "jsxgraph-logo-clip" -%}
{%- assign padding_x = "5%" -%}
{%- assign padding_y = "5%" -%}
{%- elsif polygon == "circle" -%}
{%- assign class = "circle-clip" -%}
{%- assign padding_x = "10%" -%}
{%- assign padding_y = "10%" -%}
{%- elsif polygon == "4" -%}
{%- assign class = "square-clip" -%}
{%- assign padding_x = "5%" -%}
{%- assign padding_y = "5%" -%}
{%- elsif polygon == "5" -%}
{%- assign class = "pentagon-clip" -%}
{%- assign padding_x = "10%" -%}
{%- assign padding_y = "7%" -%}
{%- elsif polygon == "8" -%}
{%- assign class = "octagon-clip" -%}
{%- assign padding_x = "5%" -%}
{%- assign padding_y = "5%" -%}
{%- else -%}
{%- assign class = "hexagon-clip" -%}
{%- assign padding_x = "15%" -%}
{%- assign padding_y = "10%" -%}
{%- endif -%}

{%- assign size = include.data.size -%}
{%- assign max_n = size | minus: 1 -%}
{%- assign width = 100 | divided_by: size | append: "%" -%}

{% for i in (0..max_n) %}
{%- assign data = include.data[i] -%}

<div style="width: {{width}};">
    {%- assign stringToCheck = data.link %}
    {%- assign checkArray = stringToCheck | split: ':' -%}
    {%- if checkArray[0] == 'http' or checkArray[0] == 'https' or data.target == "_blank" -%}
    {%- assign link = data.link -%}
    {%- assign target = data.target | default: "_blank" -%}
    {%- else -%}
    {%- assign link = relBase | append: data.link -%}
    {%- assign target = data.target | default: "_self" -%}
    {%- endif -%}
    <a href="{{ link }}" target="{{ target }}"       class="link-quiet d-block align-items-center overflow-hidden text-center {{ class }} tile-button tile-button-squares"    >

        {% if data.image %}
        <div class="d-block w-100 h-100 square btn-{{ data.colorclass | default: 'primary' }} border border-{{ data.colorclass | default: 'primary' }}">
            <div class="flex-fill mx-n1 mt-n1 position-relative">
                <div class="w-100 h-100 image-bg-cover" style="background-image: url('{{ relBase }}{{ data.image }}');"></div>
                <div class="position-absolute top-0 start-0 end-0 bottom-0 bg-{{ data.colorclass | default: 'primary' }} opacity-33"></div>
            </div>
        </div>
        {% else %}
        <div class="btn btn-{{ data.colorclass | default: 'primary' }} border border-{{ data.colorclass | default: 'primary' }} d-block w-100 h-100 square rounded-0 {{ class }} overflow-hidden text-center w-fix-sm mb-2 p-0"
             style="padding: {{padding-y}} {{padding-x}};"
        >
            <div class="d-flex justify-content-center align-items-center h-100 w-100">
                <i class="biggest fa-fw {{ data.icon }}">{% if data.icon == '' %}&nbsp;{% endif %}</i>
            </div>
        </div>
        {% endif %}
        <div class="smaller shorten-content-x tile-label" style="padding: 0 {{padding-x}};">
            {{ data.title | default: "" }}
        </div>
    </a>
</div>

{% endfor %}