<!DOCTYPE html>
<html lang="en">
<head>
    {% include basics %}
    {% include main/head.html %}
</head>
{% if page.external_link==nil and page.is_separator!=true -%}
<body data-role="page" class="position-relative">
    {% include main/clip-pattern.html %}

    {%- assign postlist_id = page.postlist_id -%}

    {%- for i_page in site.pages -%}
    {%- assign id = i_page.url | split: '/' | last -%}
    {%- if id == "index.html" -%}
    {%- assign id = i_page.url | split: '/' -%}
    {%- assign tmp = id.size | minus: 2 -%}
    {%- assign id = id[tmp] -%}
    {%- endif -%}
    {%- if id == postlist_id -%}
    {%- assign postlist_page = i_page -%}
    {%- endif -%}
    {%- endfor -%}

    {% include main/menu.html active=postlist_id %}
    {% include main/topbar.html active=postlist_id %}

    <noscript>
        <div class="alert alert-danger" role="alert">
            This page requires JavaScript to work correctly.
            Please enable JavaScript in your browser and reload the page.
        </div>
    </noscript>

    {% assign id = page.url | split: '/' | last | default: "home" %}
    <main class="container md-container m-between-5 mt-4 mb-5 pb-5" id="page-{{ id }}">
        <div class="mb-4">
            {% include main/post-header.html post=page link_badges=true %}
        </div>

        {% include content.html %}

        <div class="d-flex justify-content-center">
            <a href="{{ relBase }}{{ postlist_page.url }}" class="btn btn-outline-primary w-fix-lg">
                To all posts
            </a>
        </div>
    </main>

    {% include main/cookie-hint.html %}
    {% include main/footer.html %}
</body>
{% endif -%}
</html>