<!DOCTYPE html>
<html lang="en">
<head>
    {% include basics.html %}
    {% include main/head.html %}
</head>

{%- assign posts_root = page.posts_root | default: "news" -%}
{%- assign posts_intro = page.posts_intro | default: 50 -%}

{%- for i_page in site.pages -%}
{%- assign id = i_page.url | split: '/' | last -%}
{%- if id == posts_root -%}
{%- assign posts_root_page = i_page -%}
{%- endif -%}
{%- endfor -%}

<body data-role="page" class="position-relative">
    {% include main/menu.html active=posts_root %}
    {% include main/topbar.html active=posts_root %}

    <noscript>
        <div class="alert alert-danger" role="alert">
            This page requires JavaScript to work correctly.
            Please enable JavaScript in your browser and reload the page.
        </div>
    </noscript>

    <main class="container md-container m-between-5 mt-4 mb-5 pb-5">

        {% if page.is_blogpost == false %}
        <!-- ###################### News overview ###################### -->

        <div class="mb-3">
            <h1>{{ page.header | default: page.title }}</h1>
        </div>

        {%- if page.render_this == "before" or page.render_this == true -%}
        {% include content.html %}
        {%- endif -%}

        <div class="blogposts">

            <h2 class="d-none">List of Posts</h2>
            <div class="list-group list-group-flush mx-n4">
                {% for post in site.posts %}
                <a href="{{ post.url }}" class="list-group-item list-group-item-action px-4 py-4">
                    <article class="post-preview">
                        {% include main/post-header.html post=post head_level=3 %}

                        {{ post.content | truncatewords: posts_intro | strip_html | xml_escape}}
                    </article>
                    <div class="text-end link-primary">Read more &rarr;</div>
                </a>
                {% endfor %}
            </div>

            <h2>Tags</h2>
            <ul>
                {% for tag in site.tags %}
                <li>{{ tag[0] }}</li>
                {% endfor %}
            </ul>

            <h2>Categories</h2>
            <ul>
                {% for cat in site.categories %}
                <li>{{ cat[0] }}</li>
                {% endfor %}
            </ul>
        </div>

        {%- if page.render_this == "after" -%}
        {% include content.html %}
        {%- endif -%}

        {% else %}
        <!-- ###################### News detailled ###################### -->

        <div class="mb-4">

            <div class="float-end">
                <a href="{{ posts_root_page.url }}" class="btn btn-sm btn-secondary">
                    &larr; Back to all posts
                </a>
            </div>

            <div class="pt-2">
            {% include main/post-header.html post=page %}
            </div>
        </div>

        {% include content.html %}

        {% endif %}
    </main>

    {% include main/cookie-hint.html %}
    {% include main/footer.html %}
</body>
</html>