{%- assign additional = include.additional | default: nil -%}
{%- assign cats = include.cats | default: page.categories -%}
{%- assign tags = include.tags | default: page.tags -%}

<div class="d-flex m-between-3 mb-2">
    {%- if additional -%}
    <div class="badge rounded-pill bg-secondary px-2 py-1 mx-1 text-white">
        <i class="fa-solid fa-fw fa-map-pin"></i>
        {{ additional }}
    </div>
    {%- endif -%}

    {% for cat in cats %}
    <div class="badge rounded-pill bg-secondary px-2 py-1 mx-1 text-white">
        <i class="fa-solid fa-fw fa-map-pin"></i>
        {{ cat }}
    </div>
    {% endfor %}

    {% for tag in tags %}
    <div class="badge rounded-pill bg-primary px-2 py-1 mx-1 text-white">
        <i class="fa-solid fa-fw fa-tag"></i>
        {{ tag }}
    </div>
    {% endfor %}
</div>