<!-- ########################################
                       meta
   ######################################### -->

<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
{% if (page.layout == "default") or (page.layout == "splash") %}
{%- for store in const.appstores -%}
{%- if store.banner.enabled %}
{{ store.banner.code }}
{% endif -%}
{%- endfor -%}
{% endif %}
<title>
    {%- if page.title_only == true -%}{{ page.title }}{%- else -%}
    {%- if page.is_home != true -%}{{ page.title }} | {% endif -%}
    {%- if const.webtitle[page.lang] != nil %}
    {{ const.webtitle[page.lang] }}
    {%- else -%}
    {{ const.webtitle[const.default_lang] }}
    {%- endif -%}
    {%- endif -%}
</title>

<meta name="robots" content="index,follow">
{%- capture meta -%}
{%- if const.meta[page.lang] != nil -%}
{{ const.meta[page.lang] }}
{%- else -%}
{{ const.meta[const.default_lang] }}
{%- endif -%}
{%- endcapture -%}
<meta name="description" content="{{ meta | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip }}">
{%- capture keywords -%}
{%- if const.keywords[page.lang] != nil -%}
{{ const.keywords[page.lang] }}
{%- else -%}
{{ const.keywords[const.default_lang] }}
{%- endif -%}
{%- endcapture -%}
<meta name="keywords" content="{{ keywords | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip }}">

<!-- ########################################
                    icons
   ######################################### -->
<link rel="icon" type="image/x-icon" href="{{ relBase }}/media/favicon/16.png">
<link rel="shortcut icon" type="image/x-icon" href="{{ relBase }}/media/favicon/16.png">
<link rel="icon" type="image/x-icon" href="{{ relBase }}/media/favicon/32.png">
<link rel="shortcut icon" type="image/x-icon" href="{{ relBase }}/media/favicon/32.png">

<!-- ########################################
                  JS + Helper
    ######################################### -->

<script type="text/javascript" src="{{ relBase }}/assets/extend/ecma.js"></script>
<script type="text/javascript" src="{{ relBase }}/assets/extend/jxg_compensation.js"></script>

<!-- ########################################
                      MathJax
    ######################################### -->
<script type="text/javascript">
    window.MathJax = {
        loader: {
            load: ['[tex]/html'],
        },
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']],
            packages: ['base', 'ams', 'html'],
        },
        options: {
            ignoreHtmlClass: 'tex2jax_ignore',
            processHtmlClass: 'tex2jax_process',
        },
    };
</script>
<script type="text/javascript" src="{{ relBase }}/assets/mathjax/es5/tex-chtml.js"></script>

<!-- ########################################
                  JSXGraph
    ######################################### -->

<script type="text/javascript" src="{{ relBase }}/assets/jsxgraph/jsxgraphcore.js"></script>

<!-- ########################################
                   jQuery
    ######################################### -->
<script type="text/javascript" src="{{ relBase }}/assets/jquery/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="{{ relBase }}/assets/extend/jquery.js"></script>

<!-- ########################################
                  Bootstrap
    ######################################### -->
<link rel="stylesheet" type="text/css" href="{{ relBase }}/assets/bootstrap/bootstrap-individual.min.css">
<script type="text/javascript" src="{{ relBase }}/assets/extend/popper.min.js"></script>
<script type="text/javascript" src="{{ relBase }}/assets/extend/tether.min.js"></script>
<script type="text/javascript" src="{{ relBase }}/assets/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ relBase }}/assets/extend/bootstrap.js"></script>
<script type="text/javascript" src="{{ relBase }}/assets/extend/masonry.min.js"></script>

<!-- ########################################
                   jszip
    ######################################### -->
<script type="text/javascript" src="{{ relBase }}/assets/jszip/jszip.min.js"></script>

<!-- ########################################
                  filesaver
    ######################################### -->
<script type="text/javascript" src="{{ relBase }}/assets/filesaver/filesaver.js"></script>

<!-- ########################################
                  FontAwesome
    ######################################### -->
<link rel="stylesheet" type="text/css" href="{{ relBase }}/assets/fontawesome-6.5.1/css/fontawesome.css"/>
<link rel="stylesheet" type="text/css" href="{{ relBase }}/assets/fontawesome-6.5.1/css/brands.css"/>
<link rel="stylesheet" type="text/css" href="{{ relBase }}/assets/fontawesome-6.5.1/css/solid.css"/>
<link rel="stylesheet" type="text/css" href="{{ relBase }}/assets/fontawesome-6.5.1/css/regular.css"/>

<!-- ########################################
                   website
    ######################################### -->
<link rel="stylesheet" type="text/css" href="{{ relBase }}/assets/website.css?v={{ site.time | date: '%Y%m%d%H%M%S%L' }}">
<script type="module">
    //import SITE from '{{ relBase }}/assets/website.js';
    //window.SITE = SITE;
</script>