<div class="offcanvas offcanvas-end" tabindex="-1" id="menu">
    <div class="offcanvas-header">
        <button type="button" class="btn-inline btn-none">
            <i class="fa-solid fa-fw"></i>
        </button>
        <button type="button" class="btn-inline btn-none" data-bs-dismiss="offcanvas">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="offcanvas-body py-0">
        <div class="accordion list-group list-group-flush mx-n3" id="menu-accordion">
            {%- assign pagelist = site.pages | where: "in_menu_popup",true | where: "parent",nil | sort: 'order' -%}
            {%- for i_page in pagelist -%}
            {% assign id = i_page.url | split: '/' | last %}
            {%- if id == "index.html" -%}
            {%- assign id = i_page.url | split: '/' -%}
            {%- assign tmp = id.size | minus: 2 -%}
            {%- assign id = id[tmp] -%}
            {%- endif -%}

            {%- if i_page.pagination_info and i_page.pagination_info.curr_page > 1 -%}
            {%- continue -%}
            {%- endif -%}

            {% if page.url == i_page.url or (include.active and include.active == id) %}{%- assign is_active = true -%}{% else %}{%- assign is_active = false -%}{% endif %}

            {%- assign subs = site.pages | where: "in_menu_popup",true | where: "parent",id | where_exp:"item", "item.parent != nil" | sort: 'order' -%}
            {%- assign is_active_sub = false -%}
            {%- for j_page in subs -%}
            {% assign subid = j_page.url | split: '/' | last %}
            {% if page.url == j_page.url or (include.active and include.active == subid) %}{%- assign is_active_sub = true -%}{% break %}{% endif %}
            {%- endfor -%}

            {%- if subs.size == 0 -%}

            {%- if i_page.external_link -%}
            {%- assign link = i_page.external_link -%}
            {%- assign target = i_page.target | default: "_blank" -%}
            {%- else -%}
            {%- assign link = relBase | append: i_page.url -%}
            {%- assign target = i_page.target | default: "_self" -%}
            {%- endif -%}
            <a href="{{ link }}" target="{{ target }}" class="list-group-item list-group-item-action {% if is_active %}active{% endif %}">
                <div class="font-header">
                    {{ i_page.menu_title | default: i_page.header | default: i_page.title }}
                    {%- if target == "_blank" -%}
                    <i class="fa-solid fa-arrow-up-right-from-square icon-external-link"></i>
                    {%- endif -%}
                </div>
            </a>

            {%- else -%}

            <div class="list-group-item">
                {%- if i_page.is_separator -%}
                <button
                        type="button"
                        class="list-group-item list-group-item-action"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordion-item-{{ forloop.index0 }}"
                        aria-expanded="{% if is_active_sub %}true{% else %}false{% endif %}"
                        aria-controls="accordion-item-{{ forloop.index0 }}"
                >
                    <div class="d-flex w-100">
                        <div class="flex-fill font-header">
                            {{ i_page.menu_title | default: i_page.header | default: i_page.title }}
                        </div>
                        <div class="w-auto">
                            <i class="fa-solid fa-angle-down collapse-closed"></i>
                            <i class="fa-solid fa-angle-up collapse-opened"></i>
                        </div>
                    </div>
                </button>
                {%- else -%}
                {%- if i_page.external_link -%}
                {%- assign link = i_page.external_link -%}
                {%- assign target = i_page.target | default: "_blank" -%}
                {%- else -%}
                {%- assign link = relBase | append: i_page.url -%}
                {%- assign target = i_page.target | default: "_self" -%}
                {%- endif -%}
                <div class="d-flex">
                    <a href="{{ link }}" target="{{ target }}" class="list-group-item list-group-item-action {% if is_active %}active{% endif %}">
                        <div class="font-header">
                            {{ i_page.menu_title | default: i_page.header | default: i_page.title }}
                            {%- if target == "_blank" -%}
                            <i class="fa-solid fa-arrow-up-right-from-square icon-external-link"></i>
                            {%- endif -%}
                        </div>
                    </a>
                    <button
                            type="button"
                            class="list-group-item list-group-item-action w-auto"
                            data-bs-toggle="collapse"
                            data-bs-target="#accordion-item-{{ forloop.index0 }}"
                            aria-expanded="{% if is_active_sub or is_active %}true{% else %}false{% endif %}"
                            aria-controls="accordion-item-{{ forloop.index0 }}"
                    >
                        <i class="fa-solid fa-angle-down collapse-closed"></i>
                        <i class="fa-solid fa-angle-up collapse-opened"></i>
                    </button>
                </div>
                {%- endif -%}
            </div>

            <div id="accordion-item-{{ forloop.index0 }}" class="accordion-collapse collapse {% if is_active_sub or is_active %}show{% endif %}" data-bs-parent="#menu-accordion">
                {%- for j_page in subs -%}
                {% assign subid = j_page.url | split: '/' | last %}
                {% if page.url == j_page.url or (include.active and include.active == subid) %}{%- assign is_active_sub = true -%}{% else %}{%- assign is_active_sub = false -%}{% endif %}
                {%- if j_page.external_link -%}
                {%- assign link = j_page.external_link -%}
                {%- assign target = j_page.target | default: "_blank" -%}
                {%- else -%}
                {%- assign link = relBase | append: j_page.url -%}
                {%- assign target = j_page.target | default: "_self" -%}
                {%- endif -%}
                <a href="{{ link }}" target="{{ target }}" class="list-group-item list-group-item-action {% if is_active_sub %}active{% endif %}">
                    <div class="ps-3">
                        {{ j_page.menu_title | default: j_page.header | default: j_page.title }}
                        {%- if target == "_blank" -%}
                        <i class="fa-solid fa-arrow-up-right-from-square icon-external-link"></i>
                        {%- endif -%}
                    </div>
                </a>
                {%- endfor -%}
            </div>

            {%- endif -%}
            {%- endfor -%}
        </div>

        <div class="mt-4 mb-5">
            {%- include part/tiles.html -%}
        </div>
    </div>
</div>