{%- assign head_level = include.head_level | default: 1 -%}
{%- assign post = include.post -%}
{%- assign link_badges = include.link_badges | default: false -%}

{% if head_level <= 5 %}{% assign tag_title = head_level | prepend: "h" %}
{% else %}{% assign tag_title = "p" %}{% endif %}
{% assign tag_title_close = tag_title | prepend: "/" %}
{% if head_level <= 4 %}{% assign tag_subtitle = head_level | plus: 1 | prepend: "h" %}
{% else %}{%- assign tag_subtitle = "p" -%}{% endif %}
{% assign tag_subtitle_close = tag_subtitle | prepend: "/" %}
{% if head_level <= 2 %}{%- assign tag_subtitle_display = head_level | plus: 3 | prepend: "h" -%}
{% else %}{%- assign tag_subtitle_display = "normal" -%}{% endif %}

<div class="d-flex flex-wrap align-items-top mb-n2">
    <div class="me-3 mb-2">
        <!--@formatter:off-->
        <{{tag_title}} class="mt-0 mb-0">
        {{ post.title }}
        <{{tag_title_close}}>
        {% if post.subtitle %}
        <{{tag_subtitle}} class="{{tag_subtitle_display}} m-0 text-muted">
        {{ post.subtitle }}
        <{{tag_subtitle_close}}>
        {% endif %}
        <!--@formatter:on-->
    </div>
    <div class="ms-auto my-auto mb-2">
        <div class="d-flex m-between-2 justify-content-end">
            {% for cat in post.categories %}
            {% if link_badges %}
            <a class="badge rounded-pill btn btn-primary px-2 py-1" href="{{ relBase }}{{ site.categorylist.root }}{{ cat | slopify }}">
                <i class="fa-solid fa-layer-group"></i>
                {{ cat }}
            </a>
            {%- else %}
            <div class="badge rounded-pill bg-primary px-2 py-1 text-white">
                <i class="fa-solid fa-layer-group"></i>
                {{ cat }}
            </div>
            {%- endif %}
            {% endfor %}

            {% for tag in post.tags %}
            {% if link_badges %}
            <a class="badge rounded-pill btn btn-secondary px-2 py-1" href="{{ relBase }}{{ site.taglist.root }}{{ tag | slopify }}">
                <i class="fa-solid fa-fw fa-tag"></i>
                {{ tag }}
            </a>
            {%- else %}
            <div class="badge rounded-pill bg-secondary px-2 py-1 text-white">
                <i class="fa-solid fa-fw fa-tag"></i>
                {{ tag }}
            </div>
            {%- endif %}
            {% endfor %}
        </div>
        <div class="mt-2 text-muted smaller">
            Posted on {{ post.date | date: "%B %-d, %Y" }}
            {% if post.author %}by {{ post.author }}{%- endif %}
        </div>
    </div>
</div>