<div class="{% if horizontal %}col-12 d-flex g-2{% else %}col-6 d-flex flex-column m-between-2{% endif %}">
    <a href="{{ relBase }}{{ include.target1 }}"
       class="d-block p-1 w-100 h-100 btn-{{ include.colorclass1 | default: 'primary' }}-gradient border border-outer-dark shadow-outer-dark overflow-hidden text-center tile-button tile-button-double"
    >
        <div class="d-flex flex-column w-100 h-100">
            {%- if include.image1 -%}
            <div class="flex-fill mx-n1 mt-n1 position-relative">
                <div class="w-100 h-100 image-bg-cover" style="background-image: url('{{ relBase }}{{ include.image1 }}');"></div>
                <div class="position-absolute top-0 start-0 end-0 bottom-0 bg-{{ include.colorclass | default: 'primary' }}-gradient opacity-33"></div>
            </div>
            {%- else -%}
            <div class="flex-fill mb-n1 d-flex align-items-center justify-content-center">
                <i class="fa-fw {{ include.icon1 }}">{% if include.icon1 == '' %}&nbsp;{% endif %}</i>
            </div>
            {%- endif -%}
            <div class="small h-fix-xxs shorten-content-x tile-label">
                {{ include.title1 | default: "" }}
            </div>
        </div>
    </a>

    <a href="{{ relBase }}{{ include.target2 }}"
       class="d-block p-1 w-100 h-100 btn-{{ include.colorclass2 | default: 'primary' }}-gradient border border-outer-dark shadow-outer-dark overflow-hidden text-center tile-button tile-button-double"
    >
        <div class="d-flex flex-column w-100 h-100">
            {%- if include.image2 -%}
            <div class="flex-fill mx-n1 mt-n1 position-relative">
                <div class="w-100 h-100 image-bg-cover" style="background-image: url('{{ relBase }}{{ include.image2 }}');"></div>
                <div class="position-absolute top-0 start-0 end-0 bottom-0 bg-{{ include.colorclass | default: 'primary' }}-gradient opacity-33"></div>
            </div>
            {%- else -%}
            <div class="flex-fill mb-n1 d-flex align-items-center justify-content-center">
                <i class="fa-fw {{ include.icon2 }}">{% if include.icon2 == '' %}&nbsp;{% endif %}</i>
            </div>
            {%- endif -%}
            <div class="small h-fix-xxs shorten-content-x tile-label">
                {{ include.title2 | default: "" }}
            </div>
        </div>
    </a>
</div>