<div class="row g-2">
    {%- for tile in site.data.tiles[page.lang] -%}
    {%- if tile.type == "square" -%}

    {%- include main/tile-square.html
    title = tile.title
    target = tile.target
    colorclass = tile.colorclass
    iconname = tile.iconname
    image = tile.image
    -%}

    {%- else if tile.type == "double" or tile.type == "double-horizontal" -%}

    {%- if tile.type == "double-horizontal" -%}{%- assign horizontal = true -%}{%- else -%}{%- assign horizontal = false -%}{%- endif -%}
    {%- include main/tile-double.html
    title1 = tile.title1
    target1 = tile.target1
    colorclass1 = tile.colorclass1
    iconname1 = tile.iconname1
    image1 = tile.image1

    title2 = tile.title2
    target2 = tile.target2
    colorclass2 = tile.colorclass2
    iconname2 = tile.iconname2
    image2 = tile.image2

    horizontal = horizontal
    -%}

    {%- endif -%}
    {%- endfor -%}
</div>

<script type="module">
    let offcanvas = $('#menu');

    // Auto resize icons
    function resizeIcons() {
        $('.tile-button .sketcho').each(function (_, el) {
            let icon = $(el),
                button = icon.parents('.tile-button').first(),
                label = button.find('.tile-label').first(),
                space;

            if (button.hasClass('tile-button-square'))
                space = button.width() - (parseFloat(button.css('padding-top')) * 4) - label.outerHeight();
            else if (button.hasClass('tile-button-double'))
                space = (button.width() / 2) - (parseFloat(button.css('padding-top')) * 4) - label.outerHeight();

            icon.css({
                'font-size': space,
                'line-height': '100%',
            });
        });
    }

    // resize double buttons
    const SPACE = '0.5rem'; // m-between-2
    function resizeButtons() {
        $('.tile-button-double').each(function (_, el) {
            let button = $(el),
                width = button.outerWidth();
            button.cssStyle('height', 'calc((' + width + 'px - ' + SPACE + ') / 2)', true);
        });
    }

    $(window).resize(resizeButtons);
    offcanvas.on('shown.bs.offcanvas', resizeButtons);
    resizeButtons();

    // close menu on click
    $('.tile-button').on('click', function () {
       offcanvas.offcanvas('hide');
    });
</script>