// Only vars here!

// ---------------------------------------------
// ------------- override defaults -------------
// ---------------------------------------------

@fixed_width_xxs: 40px;
@fixed_width_xs: 80px;
@fixed_width_sm: 100px;

@threshold_active: 12%;
@threshold_hover: 4%;
@threshold_overlay: 65%;

@color_primary: #10427C;
@color_secondary: mix(@color_primary, #0085a1);

@color_outer: mix(#fff, @color_secondary, @threshold_faded);
@color_outer_light: mix(@color_outer, #fff, @threshold_light);
@color_outer_dark: mix(@color_outer, #10427C, @threshold_dark);

@color_tertiary: @color_outer; //  #b0dcf0;                    // Only used for splash overlay
@splash_overlay: fade(@color_tertiary, 80%);

@color_code_base: mix(#fdfdfd, @color_primary, 85%);
@color_code_bg: mix(@color_code_base, #fff, 45%);
@color_code_outer: darken(@color_code_base, @threshold_dark);

@color_link: @color_secondary;
