ErrorDocument 400 /home/error/index.html
ErrorDocument 401 /home/error/index.html
ErrorDocument 403 /home/error/403.html
ErrorDocument 404 /home/error/404.html
ErrorDocument 500 /home/error/index.html

allow from all

# Options -Indexes